@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

@theme {
  /* Primary */
  --color-blue-100: hsl(225, 100%, 94%);
  --color-blue-700: hsl(245, 75%, 52%);

  /* Neutral */
  --color-blue-50: hsl(225, 100%, 98%);
  --color-gray-600: hsl(224, 23%, 55%);
  --color-blue-950: hsl(223, 47%, 23%);

  /* Fonts */
  --font-red-hat-display: "Red Hat Display", sans-serif;
}
