/* Base Styles */
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: var(--grey-900);
  color: var(--white);
  height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card Styles */
.card {
  width: 450px;
  background-color: var(--grey-800);
  text-align: center;
  border-radius: 8px;
  padding: 28px;
}

.avatar {
  border-radius: 100%;
  width: 140px;
  padding: 20px;
}

.name {
  margin-bottom: 10px;
}

.location {
  font-size: 16px;
  color: var(--green);
  margin-bottom: 28px;
}

.details {
  margin-bottom: 16px;
}

.platforms {
  margin: 0 auto;
}

.platform {
  background-color: var(--grey-700);
  font-weight: 600;
  padding: 16px 32px;
  width: 80%;
  margin: 18px auto;
  border-radius: 8px;
}

.platform:hover {
  background-color: var(--green);
  color: var(--grey-900);
  cursor: pointer;
}

/* Footer Styles */
.attribution {
  text-align: center;
  margin-top: 18px;
}

.attribution a {
  color: var(--green);
}

/* Responsive Styles */
@media only screen and (max-width: 500px) {
  .card {
    width: 80%;
    padding: 12px;
    margin: 0 18px;
  }

  .platform {
    font-weight: 400;
  }
}
