/* Variables */
:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

/* Base Style */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--stone-100);
  color: var(--stone-600);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

/* Container */
.container {
  background-color: var(--white);
  max-width: 60%;
  margin: 60px auto;
  padding: 32px;
  border-radius: 12px;
}

/* image */
.image {
  width: 100%;
  border-radius: 12px;
}

/* Heading */
.heading {
  margin: 18px 0;
}

.sub-heading {
  margin-bottom: 22px;
}

/* Preparation */
.preparation {
  background-color: var(--rose-50);
  padding: 28px;
  border-radius: 6px;
  margin-bottom: 18px;
}

.preparation h3 {
  color: var(--rose-800);
}

.preparation li {
  margin-bottom: 18px;
  list-style-position: inside;
}

/* ingredients */
.ingredients {
  margin-bottom: 18px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--stone-100);
}

h3 {
  color: var(--brown-800);
  margin-bottom: 12px;
  font-family: "Young Serif", serif;
  font-size: 28px;
}

.ingredients li {
  list-style-position: inside;
  margin-bottom: 18px;
}

/* instructions */
.instructions {
  margin-bottom: 18px;
  padding-bottom: 12px;
}

.instructions li {
  list-style-position: inside;
  margin-bottom: 18px;
  line-height: 24px;
}

/* Table */
.nutrition p {
  margin-bottom: 14px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 14px 0;
}

td:nth-child(even) {
  font-weight: bold;
  color: var(--brown-800);
}

/* Attribution */
.attribution {
  text-align: center;
  margin-top: 22px;
}

.attribution a:link,
.attribution a:visited {
  color: var(--brown-800);
}

.attribution a:hover {
  text-decoration: none;
  color: var(--stone-600);
}

/* Mobile Version */
@media only screen and (max-width: 810px) {
  body {
    background-color: var(--white);
  }

  /* Container */
  .container {
    background-color: var(--white);
    max-width: 100%;
    margin: 14px;
    padding: 0;
  }

  .image {
    width: 100%;
    border-radius: 6px;
  }
}
