@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

@theme {
  /* Primary */
  --color-gold-500: hsl(31, 77%, 52%);
  --color-cyan-800: hsl(184, 100%, 22%);
  --color-green-950: hsl(179, 100%, 13%);

  /* Neutral */
  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-gray-100: hsl(0, 0%, 95%);

  /* Fonts */
  --font-lexend-deca: "Lexend Deca", sans-serif;
  --font-big-shoulders: "Big Shoulders", sans-serif;
}
